<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sighting: <%= id %></h1>
    <h2>Habitat: <%= habitat %></h2>
    <h2>Date: <%= date %></h2>
    <h2>Appearance: <%= appearance %></h2>
    <h2>Behaviour: <%= behaviour %></h2>
    <h2>Vocalisation: <%= vocalisation %></h2>
    <h2>Flock Size: <%= flock_size %></h2>
  </body>
</html>
